@charset "utf-8";
/*    地图效果 Map Effects   */
/* Designed and Developed by Long Luo  */ 
/*  -----------------------------------------------  */
html, body {
	height: 100%;
}
#map {
	height: 800px;
	width: 100%;
	background: url("http://databank.u.qiniudn.com/map/images/map_bg_fit.jpg");
	background-size: cover;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 1px 1px 8px 3px rgba(0, 0, 0, 0.24) inset;
	-moz-box-shadow: 1px 1px 8px 3px rgba(0, 0, 0, 0.24) inset;
	box-shadow: 1px 1px 8px 3px rgba(0, 0, 0, 0.24) inset;
}
#map svg {
	-webkit-animation: map-in 1s linear 0 1;
	-webkit-border-top-right-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-moz-border-top-right-radius: 6px;	
	-moz-border-bottom-right-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}
#map path,
#map circle {
	-webkit-transition: all .25s linear;
	-moz-transition: all .25s linear;
	transition: all .25s linear;
}

@-webkit-keyframes map-in {
	0% {
		-webkit-filter: grayscale(0.8) blur(5px);
	}
	50% {
		-webkit-filter: grayscale(0.3) blur(3px);
	}
	100% { 
		-webkit-filter: none;
	}
}